.c-gray1 {
  color: $fontColor1;
}

.c-gray2 {
  color: $fontColor2;
}

.c-gray3 {
  color: $fontColor3;
}

.c-gray4 {
  color: $fontColor4;
}

.c-blue {
  color: $blue !important;
}

.c-green {
  color: $green;
}

.c-red {
  color: $red;
}

.c-orange {
  color: $orange;
}

.c-success {
  color: #67C23A;
}
.c-warning {
  color: #E6A23C;
}
.c-danger {
  color: #F56C6C;
}
.c-info {
  color: #909399;
}
.c-333 {
  color: #333;
}
.c-666 {
  color: #666;
}
.c-999 {
  color: #999;
}